@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Conference Registration Site</h1>
    <p class="lead">Do you want to register for a conference or administer one, then you have come to right place!!</p>
    <p><img src="~/Content/images/Conference_Image.jpg" class="img-responsive" alt="Empty Auditorium"></p>
</div>

<div class="row">
    <div class="col-md-12">
        <table>
            <thead>
                <tr>
                    <th>Conference</th>
                    <th>Start Date</th>
                    <th>End Date</th>
                    <th>Location</th>
                    <th>Description</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Chicago</td>
                    <td>4/1/2016</td>
                    <td>4/5/2016</td>
                    <td>Chicago</td>
                    <td>This is a conference in Chicago</td>
                </tr>
                <tr>
                    <td>Chicago</td>
                    <td>4/1/2016</td>
                    <td>4/5/2016</td>
                    <td>Chicago</td>
                    <td>This is a conference in Chicago</td>
                </tr>
            </tbody>
        </table>
    </div>
    @*<div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>*@
</div>