<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://vingeconfregistration.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>vingeconfregistration.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>vingeconfregistration</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$vingeconfregistration</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="ConferenceRegistrationContext" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:vingeconfregistration.database.windows.net,1433;Initial Catalog=vingeconfregistration_db;User ID=SkywardSig@vingeconfregistration;Password=Peace888" Name="Data Source=tcp:vingeconfregistration.database.windows.net,1433;Initial Catalog=vingeconfregistration_db;User Id=SkywardSig@vingeconfregistration;Password=Peace888" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="ConferenceRegistration.Models.ConferenceRegistrationContext, SampleConferenceRegistration" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)ConferenceRegistrationContext-Web.config Connection String">
      <ParameterValue>Data Source=tcp:vingeconfregistration.database.windows.net,1433;Initial Catalog=vingeconfregistration_db;User Id=SkywardSig@vingeconfregistration;Password=Peace888</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>